{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://54.87.129.163/urlexpander3/js/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"/>
    <link rel="stylesheet" href="http://54.87.129.163/urlexpander3/css/main.css"/> 
    <title>URL expander</title>
</head>
<body>
    <!-- Circular loader (hidden by default) -->
    <div id="loader"></div>
    <div class="container">
        <div id="header">
            <h1>URL EXPANDER</h1>
        </div>
        <!-- URL input form -->
        <form class="form-horizontal form-group" action="{% url 'expand' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="input-field" class="form-control" placeholder="Example: goo.gl/mR2d or google.com" name="shorter_url" value="{{ invalid_url }}">
                    <div class="input-group-btn">
                        <button id="input-button" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                    <!-- Display default message or error message if invalid URL is submitted --> 
                    {% if invalid_url %}
                    <p id="input-message">Hmmm.... Doesn't seem like a valid URL address</p>
                    {% else %}
                    <p id="input-message">Expand a URL to get more details</p>
                    {% endif %}
            </div>
        </form>
        <!-- If there is at least one URL to list generate URL details --> 
        {% if url_list %}
        <hr/>
            {% for url in url_list %} 
            <div class="url-listing">
                <!-- URL heading -->
                <div class="url-listing-header">
                    <h3>{{url.short_url}}</h3>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    <a href="{% url 'delete' url.pk %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
                <!-- Details about URL (collapsed/hidden by default) -->
                <div class="url-listing-details">
                    <ul>
                        <li>Full URL: <strong>{{url.full_url}}</strong></li>
                        <li>HTTP status: <strong>{{url.http_status}}</strong></li>
                        <li>Page title: <strong>{{url.page_title}}</strong></li>
                        <li>Domain: <strong>{{url.domain_name}}</strong></li>
                        <li>Registrant Name: <strong>{{url.name}}</strong></li>
                        <li>Organization: <strong>{{url.organization}}</strong></li>
                        <li>Street: <strong>{{url.street1}}</strong></li>
                        <li>City: <strong>{{url.city}}</strong></li>
                        <li>State: <strong>{{url.state}}</strong></li>
                        <li>Postal Code: <strong>{{url.postal_code}}</strong></li>
                        <li>Country: <strong>{{url.country}}</strong></li>
                        <li>Email: <strong>{{url.email}}</strong></li>
                        <li>Phone: <strong>{{url.telephone}}</strong></li>
                        <li>Fax: <strong>{{url.fax}}</strong></li>
                        <li>Created: <strong>{{url.created_date}}</strong></li>
                        <li>Updated: <strong>{{url.updated_date}}</strong></li>
                        <li>Expires: <strong>{{url.expires_date}}</strong></li>
                        {% if url.timestamp != "N/A" %}
                        <li>Recent internet archive({{url.timestamp}}): <strong><a href="{{url.wayback_url}}" target="_blank">Link</a></strong></li>
                        {% endif %}
                        {% if url.image != "N/A" %}
                        <li>Current screenshot: <strong><a href="https://s3.amazonaws.com/info344lab3/{{url.image}}" target="_blank">Image</a></strong></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <hr/>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
